@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #f76a0b;
    --off-white: #000000;
    --dark-gray: #000000;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px
}
/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: rgb(240, 230, 230);
    padding: 1rem;
    text-align: center;
    border-bottom-left-radius: 1rem;
    padding-inline-start: 0px;
}

.navigation .nav-brand {
    font-weight: bold;
}
/** footers **/

footer {
    background-color: var(--primary-color);
    padding: 0rem 0rem;
    text-align: center;
    color: black;
    border-top-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
}

footer p {
    max-width: 600px;
    margin: auto;
}